/* FONTS */

@font-face {
    font-family: 'din_bold';
    src: url('../css/font/din_alternate_bold-webfont.eot');
    src: url('../css/font/din_alternate_bold-webfont.woff2') format('woff2'),
         url('../css/font/din_alternate_bold-webfont.woff') format('woff'),
         url('../css/font/din_alternate_bold-webfont.ttf') format('truetype'),
         url('../css/font/din_alternate_bold-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: #E26A6A;
    font-family: 'din_bold', sans-serif;
    font-size: 14px;
    line-height: 1.428571429;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

ul,
li {
    list-style: none;
}

.mainContainer {
    margin: 0 auto;
    width: 100vw;
    height: 100vh;
        
}

.containerPlayer,
.containerSource {
    display: inline-block;
    float: left;
    padding: 0px;
}

.snippet {
    width: 70%;
    border: 1px solid #ccc;
    border-radius: 5px;
    min-height: 280px;
    max-height: 280px;
    color: #fff;
    background-color: #343434;
    margin-top: 1rem;
}

.snippet:nth-child(2) {
    margin-top: 2rem;
}

.snippet pre {
    max-height: 230px;
    padding: 5px;
}

.snippet h4 {
    padding: 10px;
    color: #343434;
    background-color: #00bd9b;
}


/* Playlist */

#listContainer {
    position: absolute;
    width: calc(20vw);
    height: 100vh;
    background-color: #fff;
    top:0;
    right: 0;
    z-index: 0;
}

#listContainer ul {
    position: relative;
    margin-top: calc(50vh - 15px);
    background-color: #ffffff;
    clear: both;
    cursor: pointer;
}

#listContainer li {
    height: 50px;
    margin-top: 2.2vh;
    
}


#listContainer li a {
    text-decoration: none;
    position: relative;
}

#listContainer li h4 {
    font-size: 2.2vh;
    font-family: 'din_bold';
    text-decoration: none;
    color: #000;
    margin-left: calc(10vw - 60px);
}

#listContainer li.activeAudio a h4{
    font-size: 44px;
}

#listContainer li.activeAudio a {
    bottom: 15px;

}

.songSelector1 {
    -webkit-transform: translate(0,-50px);
    -moz-transform: translate(0,-50px);
    -o-transform: translate(0,-50px);
    -ms-transform: translate(0,-50px);
    transform: translate(0,-50px);  
}


.songList {
    position: absolute;
    top: 0px;  
    z-index: 0;
}


/*
    
    -webkit-transition-delay: 0.05s;
    -moz-transition-delay: 0.05s;
    -o-transition-delay: 0.05s;
    -ms-transition-delay: 0.05s;
    transition-delay: 0.05s;




    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
*/



/* Player Controls */

#playerContainer {
    position: absolute;
    width: 20vw;
    height: 25vh;
    right: 0;
    background-color: #fff;
    z-index: 5;
    
}

.controls {
    margin-left: calc(10vw - 140px);   
}

.controls li {
    float: left;
    display: inline-block;
    width: 50px;
    text-align: center;
    margin-top: calc(25vh - 100px);
    margin-left: 0.7vw;
    margin-right: 1vw;
    z-index: 3;
    
}

.controls li a {
    display: inline-block;
}

.moderatorCrop {
    width: 4vw;
    height: 4vw;
    position: absolute;
    overflow: hidden;
    border-radius: 50%;  
    
    margin-top: 5vh;
    margin-left: calc(10vw - 2vw);
    
}

.moderatorCrop img {
    display: inline;
    margin: 0 auto;
    height: 4vw;
    width: auto;
}

.divider {
    position: absolute;
    width: calc(20vw - 2vw);
    height: 1px;
    background-color: #E5E5E5;
    margin-top: 25vh;
    right: 1vw;
    z-index: 7;
}


#fadeTop {
    position: absolute;
    width: 20vw;
    height: calc(50vh - 25vh);
    margin-top: 25vh;
    right: 0;
    z-index: 5;
    
    background: rgba(255,255,255,1); /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(rgba(255,255,255,1), rgba(255,255,255,0)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(rgba(255,255,255,1), rgba(255,255,255,0)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(rgba(255,255,255,1), rgba(255,255,255,0)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(rgba(255,255,255,1), rgba(255,255,255,0)); /* Standard syntax (must be last) */
}

#fadeBottom {
    position: absolute;
    width: 20vw;
    height: calc(50vh);
    bottom: 0;
    right: 0;
    z-index: 5;
    
    background: rgba(255,255,255,1); /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(rgba(255,255,255,0), rgba(255,255,255,1)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(rgba(255,255,255,0), rgba(255,255,255,1)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(rgba(255,255,255,0), rgba(255,255,255,1)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,1)); /* Standard syntax (must be last) */
}

.playAudio,
.play {
/*    position: absolute;*/
    background: url('../images/controls/play.svg');
    background-repeat: no-repeat;
    width: 2vw;
    height: 2vw;
    margin-left: 10px;
    margin-top: 2px;
}

/*
.playAudio:hover {
    background: url('../images/controls/play.png');
}
*/

.bigPlay {
    cursor: pointer;
    position: absolute;
    background: url('../images/controls/playCenter.svg');
    background-repeat: no-repeat;
    width: 18vw;
    height: 18vw;
    left: calc(40vw - 9vw);
    top: calc(50vh - 9vw);
    z-index: 7;
}

.bigPause {
    cursor: pointer;
    position: absolute;
    background: url('../images/controls/pauseCenter.svg');
    background-repeat: no-repeat;
    width: 18vw;
    height: 18vw;
    left: calc(40vw - 9vw);
    top: calc(50vh - 9vw);
    z-index: 7;
    visibility: hidden;
  
}

.pauseAudio {
/*    position: absolute;*/
    background: url('../images/controls/pause.svg');
    width: 2vw;
    height: 2vw;
    background-repeat: no-repeat;
    margin-top: 4px;
    margin-left: 6px;
}

/*
.pauseAudio:hover {
    position: absolute;
    background: url('../images/controls/pause.png');
    background-repeat: no-repeat;
}
*/

/*
.shuffle {
    background: url('../images/audio/audio_icons.png') no-repeat -28px -96px;
    width: 32px;
    height: 32px;
    margin: auto;
}

.shuffleActive,
.shuffle:hover {
    background: url('../images/audio/audio_icons.png') no-repeat -28px -71px;
    width: 32px;
    height: 32px;
    margin: auto;
}
*/

.left {
    background: url('../images/controls/previousSong.svg');
    background-repeat: no-repeat;
    width: 2vw;
    height: 2vw;
    opacity: 1;
}

.left:not(.disabled):hover {
    opacity: 1;
}

/*
.left.disabled,
.right.disabled {
    opacity: 0.4;
    cursor: default;
}
*/

.right {
    background: url('../images/controls/nextSong.svg');
    background-repeat: no-repeat;
    width: 2vw;
    height: 2vw;
    opacity: 1;
}


.right:not(.disabled):hover {
    opacity: 1;
}

/*
.repeat {
    background: url('../images/audio/audio_icons.png') no-repeat -4px -103px;
    width: 21px;
    height: 21px;
    margin: auto;
    margin-top: 7px;
}

.repeat:hover,
.repeat.loopActive {
    background: url('../images/audio/audio_icons.png') no-repeat -4px -79px;
}
*/

.volume {
    width: 20px;
    height: 20px;
    margin-left: 5px;
    margin-right: 5px;
    background: url('../images/audio/audio_icons.png') no-repeat;
    visibility: hidden;
}

.volume1 {
    background-position: -5px -150px;
}

.volume2 {
    background-position: -5px -198px;
}

.volume3 {
    background-position: -5px -246px;
}

.mute {
    background-position: -34px -127px;
}

.progress {
    position: absolute;
    height: 0.3vh;
    background-color: #000;
    width: calc(60vw - 19.5vw);
    left: calc(40vw + 2.5vw);
    top: calc(50vh);
    cursor: pointer;
    z-index: 6;
    
}

.progress .updateProgress {
    width: 0px;
    background-color: #FF0000;
    height: 100%;
    float: left;
    position: absolute;
}

.volumeControl {
    position: absolute;
    margin: 8px auto;
}

.volumeControl .updateProgress {
    display: inline-block;
    vertical-align: middle;
    margin-top: 2px;
}

input[type="range"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #00BD9B;
    height: 2px;
    visibility: hidden;
}

.audioDetails {
    position: absolute;
    margin-top: 50vh;
    clear: both;
    color: #000;
    visibility: visible;
}
.click {
    z-index: 50;   
}


.audioTime {
    position: absolute;
    text-align: left;
    float: left;
    font: 28px 'din_bold', sans-serif;
    color: #EF4836;
    margin-left: 3.9vw;
    margin-top: -17.5vh;
    line-height: 1;
}



.songPlayTitle {
    display: inline-block;
    font-family: 'din_bold';
    font-size: 15vh;
    padding: 0px;
    width: 35vw;
    letter-spacing: -1px;
    margin-left: -30vw;
    margin-top: 20px;
    line-height: 1;
    text-align: left;
    text-transform: uppercase;
    color: #000;
    
    -webkit-transition: all ease 0.8s;
    -moz-transition: all ease 0.8s;
    -ms-transition: all ease 0.8s;
    -o-transition: all ease 0.8s;
    transition: all ease 0.8s;
    
    -moz-hyphens: none;
  -ms-hyphens: none;
  -webkit-hyphens: none;
  hyphens: none;
}
.artistName {
    position: absolute;
    color: #000;
}

.songPlayArtist {
    position: absolute;
    display: inline-block;
    font-size: 14vh;
    font-family: 'din_bold';
    padding: 0px;
    width: 450px;
    letter-spacing: -1px;
    margin-left: -30vw;
    line-height: 1;
    text-align: left;
    text-transform: uppercase;
    color: #F2F2F2;
    
    -moz-hyphens: none;
  -ms-hyphens: none;
  -webkit-hyphens: none;
  hyphens: none;
}

#albumCover {
    position: fixed;
	top: 0;
    margin-left: calc(-10vw);
    margin-top: calc(-30vh);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center top;
	position: absolute;
	width: calc(100vw); 
/*	width: calc(100vw - 340px);*/
	opacity: 1;
}

.albumCoverBorderTop {
    position: absolute;
    width: calc(80vw);
    height: 1vw;
    background-color: #fff;
    z-index: 5;
}

.albumCoverBorderBottom {
    position: absolute;
    bottom: 0;
    width: calc(80vw);
    height: 1vw;
    background-color: #fff;
    z-index: 5;
}

.albumCoverBorderLeft {
    position: absolute;
    width: 1vw;
    height: 100vh;
    background-color: #fff;
    z-index: 5;
}

.albumCoverBorderRight {
    position: absolute;
    width: 30px;
    width: 1vw;
    height: 100vh;
    right: calc(20vw - 1vw);
    background-color: #fff;
    z-index: 5;
}


.seekableTrack {
    width: 0%;
    background-color: #000;
    height: 2px;
    position: absolute;
    z-index: 0;
    display: block;
}

/*
.seekableTrack,
.progress .updateProgress {
    -webkit-transition: width 0.6s ease;
    -moz-transition: width 0.6s ease;
    -o-transition: width 0.6s ease;
    transition: width 0.6s ease;
}*/


/* ------- Deatials View -------- */


.detailIcon {
    position: Fixed;
    cursor: pointer;
    background: url('../images/controls/linegraphicon.svg');
    background-repeat: no-repeat;
    width: 3vw;
    height: 3vw;
    left: calc(2.2vw);
    bottom: 2.5vh;
    z-index: 10;
}

.detailHeader {
    display: inline-block;
    font-family: 'din_bold';
    font-size: 3vh;
    width: 25vw;
    padding: 0px;
    letter-spacing: 1px;
    line-height: 1;
    text-align: left;
    color: #000;
    margin-left: calc(40vw - 12.5vw);
    margin-top: 20vh;
    
    -webkit-transition: all ease 0.8s;
    -moz-transition: all ease 0.8s;
    -ms-transition: all ease 0.8s;
    -o-transition: all ease 0.8s;
    transition: all ease 0.8s;
    
    -moz-hyphens: none;
  -ms-hyphens: none;
  -webkit-hyphens: none;
  hyphens: none;   
}

.dragIcon  {
    position: absolute;
    background: url('../images/controls/dragIcon.svg');
    background-repeat: no-repeat;
    width: 3.5vw;
    height: 3.5vw;   
    left: calc(40vw - 1.75vw);
    top: 70vh;  
    
    -webkit-transition: all ease 0.8s;
    -moz-transition: all ease 0.8s;
    -ms-transition: all ease 0.8s;
    -o-transition: all ease 0.8s;
    transition: all ease 0.8s;
}

.dragIcon h2 {
    margin-top: 3.5vw; 
    margin-left: -0.5vw;
    font-family: 'din_bold';
    font-size: 1.5vh;
    width: 5.2vw;
    padding: 0px;
    letter-spacing: 1px;
    line-height: 1;
    text-align: left;
    color: #000;
}

.sunIcon {
    position: absolute;
    background: url('../images/controls/sun.svg');
    background-repeat: no-repeat;
    width: 2.5vw;
    height: 2.5vw;
    top: calc(60vh - 1.25vw);
    left: calc(20vw - 3vw);
    z-index: 10;
}

.moonIcon {
    position: absolute;
    background: url('../images/controls/moon.svg');
    background-repeat: no-repeat;
    width: 2.5vw;
    height: 2.5vw;
    top: calc(60vh - 1.25vw);
    left: calc(60vw + 0.5vw);
    z-index: 10;
}

.downVote {
    position: Fixed;
    cursor: pointer;
    background: url('../images/controls/downvote.svg');
    background-repeat: no-repeat;
    width: 2.2vw;
    height: 2.2vw;
    left: 5.5vw;
    bottom: 2.9vh;
    z-index: 10;    

/*
    font-family: 'din_bold';
    font-size: 1.5vh;
    width: 5.2vw;
    padding: 0px;
    letter-spacing: 1px;
    line-height: 1;
    text-align: left;
    color: #000;
*/
}

.musicBarsIcon {
    left: 2.6vw;
    position: fixed;
    bottom: 4vh;
    width: 3vw;
    height: 3vw;
    visibility: hidden;
    cursor: pointer;
    z-index: 10;
}

.bar1 {
    background: #000;
    bottom: 0;
    height: 2.5vh;
    position: absolute;
    width: 0.4vw;

}

.bar2 {
   background: #000;
    bottom: 0;
    height: 3.4vh;
    position: absolute;
    width: 0.4vw; 
    margin-left: 0.2vw;

}

.bar3 {
   background: #000;
    bottom: 0;
    height: 2vh;
    position: absolute;
    width: 0.4vw;  
    margin-left: 0.4vw;
}

.bar4 {
   background: #000;
    bottom: 0;
    height: 2.9vh;
    position: absolute;
    width: 0.4vw; 
    margin-left: 0.6vw;

}

.animateMusicBars {
    animation: sound1 0ms -100ms linear infinite alternate;
    animation: sound2 0ms -100ms linear infinite alternate;  
    animation: sound3 0ms -100ms linear infinite alternate;  
    animation: sound4 0ms -100ms linear infinite alternate;  
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    -ms-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    transition: all ease 0.5s;
}

@keyframes sound1 {
    0% {
       opacity: 1;
        height: 3.4vh; 
    }
    100% {
        opacity: 1;       
        height: 1vh;        
    }
}

@keyframes sound2 {
    0% {
       opacity: 1;
        height: 3.4vh; 
    }
    100% {
        opacity: 1;       
        height: 1vh;        
    }
}

@keyframes sound3 {
    0% {
       opacity: 1;
        height: 2vh; 
    }
    100% {
        opacity: 1;       
        height: 1vh;        
    }
}

@keyframes sound4 {
    0% {
       opacity: 1;
        height: 2.9vh; 
    }
    100% {
        opacity: 1;       
        height: 1vh;        
    }
}
.bar1:nth-child(1)  { left: 0px; animation-duration: 785ms;}
.bar2:nth-child(2)  { left: 8px; animation-duration: 600ms; }
.bar3:nth-child(3)  { left: 16px; animation-duration: 670ms; }
.bar4:nth-child(4)  { left: 24px; animation-duration: 730ms; }

.detailContainer {
    visibility: hidden;
}

.detailBG {
    position: absolute;
    width: calc(80vw);
    height: 100vh;
    background-color: #fff;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    -ms-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    transition: all ease 0.5s;
    z-index: 9;
    opacity: 0;
}

.graphParent {
    position: absolute;
    width: 40vw;
    height: 30vh;
    top: 35vh;
    left: 20vw;
    overflow: hidden;
    z-index: 8;

}

.graph {
    position: absolute;
    background: url('../images/controls/graph.svg');
    background-repeat: no-repeat;   
    width: 100vw;
    height: 20vh;
    margin-left: calc(-50vw + 10px);
    top: calc(-20vh);
    opacity: 1;
    
    -webkit-transition: all ease 0.8s;
    -moz-transition: all ease 0.8s;
    -ms-transition: all ease 0.8s;
    -o-transition: all ease 0.8s;
    transition: all ease 0.8s;
    
}




.dragdealer {
    position: relative;
    margin-top: 25vh;
    height: 2px;
    width: calc(40vw);
    background: #000;
    
    -webkit-transition: all ease 0.8s;
    -moz-transition: all ease 0.8s;
    -ms-transition: all ease 0.8s;
    -o-transition: all ease 0.8s;
    transition: all ease 0.8s;
    
}

.dragdealer .handle {
    position: absolute;
    margin-top: -9px;
    left: 0;
    border-radius: 50%;
    cursor: pointer;
    z-index: 20;
}

/*
.dragdealer .handle:active .graph {
    margin-top: -180px;
}
*/

.dragdealer .red-bar {
    width: 20px;
    height: 20px;
    background: #000;

}
.dragdealer .disabled {
    background: #898989;
}


.fadeIn {
    opacity: 0.8;   
}

.fadeOut {
    opacity: 0;
}

.visible {
    visibility: visible;
}

.hidden {
    visibility: hidden;
}

@-webkit-keyframes fadeIn { from {opacity: 0;} to {opacity: .9;}}
@-moz-keyframes fadeIn { from {opacity: 0;} to {opacity: .9;}}
@keyframes fadeIn { from {opacity: 0;} to {opacity: .9;}}

@-webkit-keyframes fadeOut { from {opacity: .9;} to {opacity: 0;}}
@-moz-keyframes fadeOut { from {opacity: .9;} to {opacity: 0;}}
@keyframes fadeOut { from {opacity: .9;} to {opacity: 0;}}

@-webkit-keyframes detailFadeIn { from {opacity: 0;} to {opacity: 1;}}
@-moz-keyframes detailFadeIn { from {opacity: 0;} to {opacity: 1;}}
@keyframes detailFadeIn { from {opacity: 0;} to {opacity: 1;}}

@-webkit-keyframes detailFadeOut { from {opacity: 1;} to {opacity: 0;}}
@-moz-keyframes detailFadeOut { from {opacity: 1;} to {opacity: 0;}}
@keyframes detailFadeOut { from {opacity: 1;} to {opacity: 0;}}

.active {
    font-size: 22px;
}

.inactive {
    font-size: 16px;
}

.detailFadeIn {
    -webkit-transform: translate(0, -2vh);
    -moz-transform: translate(0, -2vh);
    -o-transform: translate(0, -2vh);
    -ms-transform: translate(0, -2vh);
    transform: translate(0, -2vh);  
    
       
}

    


